<div class='aboutContainer'>
	<div class='floatedAbout'>
			<span class='italic'>dear lisa, dear sierra</span> is a blog of letters dedicated to a long distance relationship between former hausmates. beginning their love affair in the city of san francisco, sierra & lisa spent many-a-moons traversing hills & cooking dinners. now separated by continents -- sierra in california, and lisa is edinburgh -- these letters are the tellings of one friend's life events to another. welcome to the inner circle of true love.<br><br>
	</div>

	<%= image_tag 'about.jpg', class: 'aboutImg' %>	
</div>